.textbox {
  background-color: darkgoldenrod;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 12px;
  margin: 40px auto;
  max-width: 700px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.topbar {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 18px 24px;
  margin: 20px;
  border-bottom: 3px solid black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
}

.back-to-pro {
  position: fixed;
  bottom: 24px;
  right: 24px;

  background-color: #1f2937;
  color: white;
  padding: 10px 14px;
  border-radius: 12px;
  font-weight: 600;
}

.back-to-pro:hover {
  background-color: #2563eb;
}

.tableauWrap {
  max-width: 900px;
  margin: 30px auto;
  border: 1px solid #000;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.85);
}

h2 {
    text-align: center;
    background-color: #1f2937;
    color: white;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 700px;
}

.pong {
  position: fixed;
  bottom: 24px;
  left: 24px;

  background-color: #1f2937;
  color: white;
  padding: 10px 14px;
  border-radius: 12px;
  font-weight: 600;
}

.pong:hover {
  background-color: #2563eb;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 800px;
  margin: 20px auto;
}

.video-container iframe {
  position: absolute;
 margin:20 auto;
  width: 100;
  height: 100;
}
